<h1>Welcome to Lot</h1>
<button routerLink="/login">
  login router
</button>

<!-- <h1>Angular Router App</h1>
  
<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
    < --<li><a routerLink="/login-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li> -->
  <!-- </ul>
</nav> --> 
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
<!-- <app-login></app-login> -->









