.content {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 20vw; /* Leave space for the sidebar */
    height: 100vh; /* Full viewport height */
    background-color: #1c1e22;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid greenyellow; */
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 6px;
}